<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css" />
<title> Bella Covers</title>
  </head>
  <body>
    <div class="grid-container">
      <header class = "header">
      <div class = "brand" >
        <a href="index.html">Bella Covers</a>
      </div>
      <div class="header-links">
        <a href="cart.html">Cart</a> 
        <a href="signin"> Sign In</a>

      </div>
      </header>
      
      <main class="main">
        <div class="content">
          <ul class = "products">
            <li>
              <div class = "product">
                <img class ="product-image" src="images/sofa_beige.jpg" alt="product"/>
                <div class="product-name"> 
                  <a href = "product.html">Slipcover for Sofa </a> 
                </div>
                <div class ="product-size"> One Seat</div>
                <div class ="product-price"> $40 </div>
                <div class="product-rating">4.5 Stars (10 Reviews)</div>
              </div>
            </li>

            <li>
              <div class = "product">
                <img class ="product-image" src="images/waves.jpg" alt="product"/>
                <div class="product-name"> 
                  <a href = "product.html">Slipcover for Sofa </a> 
                </div>
                <div class ="product-size"> Two Seat</div>
                <div class ="product-price"> $40 </div>
                <div class="product-rating">4.5 Stars (10 Reviews)</div>
              </div>
            </li>

            <li>
              <div class = "product">
                <img class ="product-image" src="images/fireworks.jpg" alt="product"/>
                <div class="product-name"> 
                  <a href = "product.html">Slipcover for Sofa </a> 
                </div>
                <div class ="product-size"> Two Seat</div>
                <div class ="product-price"> $40 </div>
                <div class="product-rating">4.5 Stars (10 Reviews)</div>
              </div>
            </li>
            <li>
              <div class = "product">
                <img class ="product-image" src="images/flowers.jpg" alt="product"/>
                <div class="product-name"> 
                  <a href = "product.html">Slipcover for Sofa </a> 
                </div>
                <div class ="product-size"> Two Seat</div>
                <div class ="product-price"> $40 </div>
                <div class="product-rating">4.5 Stars (10 Reviews)</div>
              </div>
            </li>

          </ul>
        </div>
       
      </main>
      <footer class ="footer">
        All right reserved.
      </footer>
    </div>
  </body>
</html>
