<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css" />
<title> Bella Covers</title>
  </head>
  <body>
    <div class="grid-container">
      <header class = "header">
      <div class = "brand" >
        <a href="index.html">Bella Covers</a>
      </div>
      <div class="header-links">
        <a href="cart.html">Cart</a> 
        <a href="signin"> Sign In</a>

      </div>
      </header>
      
      <main class="main">
        <div class="content">
          <ul class = "products">
            <li>
              <div class = "product">
                <img class ="product-image" src="/images/sofa_beige.jpg" alt="product"/>
                <div class="product-name"> Stretch Slipcover for Sofa </div>
                <div class ="size"> One Seat</div>
                <div class ="price"> $40 </div>
              </div>
            </li>

          </ul>
        </div>
        <ul>
          <li>Product 1</li>
          
        </ul>
      </main>
      <footer class ="footer">
        All right reserved.
      </footer>
    </div>
  </body>
</html>
